In [168]:
import pandas as pd
import os

In [169]:
# Print the current working directory
print("Current Working Directory:", os.getcwd())

# Absolute path to the CSV file
file_path = r'c:\Users\pimsi\Notebooks\Project\vehicles_us.csv'  # Update with your actual path

# Check if the file exists at the specified path
if not os.path.exists(file_path):
    print(f"File not found: {file_path}")
else:
    # Read the CSV file
    df = pd.read_csv(file_path)
    print(df.head())
    print(df.info())

Current Working Directory: c:\Users\pimsi\Notebooks\Project
   price  model_year           model  condition  cylinders fuel  odometer  \
0   9400      2011.0          bmw x5       good        6.0  gas  145000.0
1  25500         NaN      ford f-150       good        6.0  gas   88705.0
2   5500      2013.0  hyundai sonata   like new        4.0  gas  110000.0
3   1500      2003.0      ford f-150       fair        8.0  gas       NaN
4  14900      2017.0    chrysler 200  excellent        4.0  gas   80903.0

  transmission    type paint_color  is_4wd date_posted  days_listed
0    automatic     SUV         NaN     1.0  2018-06-23           19
1    automatic  pickup       white     1.0  2018-10-19           50
2    automatic   sedan         red     NaN  2019-02-07           79
3    automatic  pickup         NaN     NaN  2019-03-22            9
4    automatic   sedan       black     NaN  2019-04-02           28
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB
None

In [170]:
display(df)
display(df.isnull().sum())

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...
51520,9249,2013.0,nissan maxima,like new,6.0,gas,88136.0,automatic,sedan,black,NaN,2018-10-03,37
51521,2700,2002.0,honda civic,salvage,4.0,gas,181500.0,automatic,sedan,white,NaN,2018-11-14,22
51522,3950,2009.0,hyundai sonata,excellent,4.0,gas,128000.0,automatic,sedan,blue,NaN,2018-11-15,32
51523,7455,2013.0,toyota corolla,good,4.0,gas,139573.0,automatic,sedan,black,NaN,2018-07-02,71
51524,6300,2014.0,nissan altima,good,4.0,gas,NaN,automatic,sedan,NaN,NaN,2018-06-05,10

price               0
model_year       3619
model               0
condition           0
cylinders        5260
fuel                0
odometer         7892
transmission        0
type                0
paint_color      9267
is_4wd          25953
date_posted         0
days_listed         0
dtype: int64

In [171]:
df['is_4wd'] = df['is_4wd'].fillna(0)
df['model_year'] = df['model_year'].fillna(0)
df['cylinders'] = df['cylinders'].fillna('unknown')
df['odometer'] = df['odometer'].fillna(0)
df['paint_color'] = df['paint_color'].fillna('unknown')
display(df)

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,unknown,1.0,2018-06-23,19
1,25500,0.0,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,0.0,2019-02-07,79
3,1500,2003.0,ford f-150,fair,8.0,gas,0.0,automatic,pickup,unknown,0.0,2019-03-22,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,0.0,2019-04-02,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...
51520,9249,2013.0,nissan maxima,like new,6.0,gas,88136.0,automatic,sedan,black,0.0,2018-10-03,37
51521,2700,2002.0,honda civic,salvage,4.0,gas,181500.0,automatic,sedan,white,0.0,2018-11-14,22
51522,3950,2009.0,hyundai sonata,excellent,4.0,gas,128000.0,automatic,sedan,blue,0.0,2018-11-15,32
51523,7455,2013.0,toyota corolla,good,4.0,gas,139573.0,automatic,sedan,black,0.0,2018-07-02,71
51524,6300,2014.0,nissan altima,good,4.0,gas,0.0,automatic,sedan,unknown,0.0,2018-06-05,10

In [172]:
if 'model' in df.columns:
    print("Model column exists")
else:
    print("Model column does not exist")
print(df['model'].head())

df[['make', 'model']] = df['model'].apply(lambda x: pd.Series(str(x).split(' ', 1)))
print(df[['make', 'model']].head())

Model column exists
0            bmw x5
1        ford f-150
2    hyundai sonata
3        ford f-150
4      chrysler 200
Name: model, dtype: object
       make   model
0       bmw      x5
1      ford   f-150
2   hyundai  sonata
3      ford   f-150
4  chrysler     200

In [173]:
third_column = df.pop('make') 
  
# insert column using insert(position,column_name, 
# first_column) function 
df.insert(2, 'make', third_column) 

display(df)

,price,model_year,make,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw,x5,good,6.0,gas,145000.0,automatic,SUV,unknown,1.0,2018-06-23,19
1,25500,0.0,ford,f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai,sonata,like new,4.0,gas,110000.0,automatic,sedan,red,0.0,2019-02-07,79
3,1500,2003.0,ford,f-150,fair,8.0,gas,0.0,automatic,pickup,unknown,0.0,2019-03-22,9
4,14900,2017.0,chrysler,200,excellent,4.0,gas,80903.0,automatic,sedan,black,0.0,2019-04-02,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51520,9249,2013.0,nissan,maxima,like new,6.0,gas,88136.0,automatic,sedan,black,0.0,2018-10-03,37
51521,2700,2002.0,honda,civic,salvage,4.0,gas,181500.0,automatic,sedan,white,0.0,2018-11-14,22
51522,3950,2009.0,hyundai,sonata,excellent,4.0,gas,128000.0,automatic,sedan,blue,0.0,2018-11-15,32
51523,7455,2013.0,toyota,corolla,good,4.0,gas,139573.0,automatic,sedan,black,0.0,2018-07-02,71
51524,6300,2014.0,nissan,altima,good,4.0,gas,0.0,automatic,sedan,unknown,0.0,2018-06-05,10

In [174]:
if 'model_year' in df.columns:
    df['model_year'] = df['model_year'].astype(int)
    
if 'odometer' in df.columns:
    df['odometer'] = df['odometer'].astype(int)

display(df)

,price,model_year,make,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011,bmw,x5,good,6.0,gas,145000,automatic,SUV,unknown,1.0,2018-06-23,19
1,25500,0,ford,f-150,good,6.0,gas,88705,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013,hyundai,sonata,like new,4.0,gas,110000,automatic,sedan,red,0.0,2019-02-07,79
3,1500,2003,ford,f-150,fair,8.0,gas,0,automatic,pickup,unknown,0.0,2019-03-22,9
4,14900,2017,chrysler,200,excellent,4.0,gas,80903,automatic,sedan,black,0.0,2019-04-02,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51520,9249,2013,nissan,maxima,like new,6.0,gas,88136,automatic,sedan,black,0.0,2018-10-03,37
51521,2700,2002,honda,civic,salvage,4.0,gas,181500,automatic,sedan,white,0.0,2018-11-14,22
51522,3950,2009,hyundai,sonata,excellent,4.0,gas,128000,automatic,sedan,blue,0.0,2018-11-15,32
51523,7455,2013,toyota,corolla,good,4.0,gas,139573,automatic,sedan,black,0.0,2018-07-02,71
51524,6300,2014,nissan,altima,good,4.0,gas,0,automatic,sedan,unknown,0.0,2018-06-05,10

In [176]:
car_types = df.sort_values('date_posted')
display(car_types)

,price,model_year,make,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
43347,9997,2017,nissan,sentra,excellent,4.0,gas,66821,automatic,sedan,black,0.0,2018-05-01,16
1052,25995,2016,chevrolet,silverado 1500,excellent,8.0,gas,0,automatic,truck,black,1.0,2018-05-01,6
21798,5100,2010,honda,civic,excellent,4.0,gas,140000,automatic,sedan,grey,0.0,2018-05-01,3
19839,11995,2011,gmc,sierra 2500hd,good,unknown,gas,197000,automatic,pickup,black,1.0,2018-05-01,68
50826,11995,2011,gmc,yukon,good,8.0,gas,176962,automatic,SUV,black,1.0,2018-05-01,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18040,9995,2010,ford,mustang,excellent,6.0,gas,110000,automatic,convertible,silver,0.0,2019-04-19,30
23157,15998,2007,jeep,wrangler,excellent,6.0,gas,89000,automatic,SUV,black,1.0,2019-04-19,33
23122,14995,2014,ford,explorer,excellent,6.0,gas,84162,automatic,SUV,silver,1.0,2019-04-19,14
35660,1900,2002,subaru,forester,good,4.0,gas,223297,automatic,wagon,blue,1.0,2019-04-19,57
13686,2900,0,honda,odyssey,good,6.0,gas,197778,automatic,van,unknown,0.0,2019-04-19,27